<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Menu</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li {{#if isHome}} class="active" {{/if}}>
                <a href="/">Home</a>
            </li>
            <li {{#if isDishes}} class="active" {{/if}}>
                <a href="/dishes">Dishes</a>
            </li>
            <li {{#if isAdd}} class="active" {{/if}}>
                <a href="/add">Add</a>
            </li>
        </ul>
    </div>
</nav>